body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.legal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    /* Limit the width of the legal div */
}

h1 {
    color: #333333;
    text-align: center;
}

ul {
    list-style-type: square;
    /* Set the list style type to square for unordered lists */
    padding-left: 20px;
    /* Add left padding for better readability */
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

/* Add more styling as needed */